<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/individual.css">
    <title>Document</title>
</head>
<body>
    <br>
 <%- include("../navbar") %> 
 <br>
 <img class="pic" src="https://i.pinimg.com/originals/51/ee/ab/51eeab1898363e943dfb31e525d9ffc7.png"  alt="restaurant">

    <div class="individual-recipe-wrapper">
        <% if (recipe) { %> 

        <h1 class="itemName"><%= recipe.name %></h1>
        <div>
            
        <h5 class="prepTime">Cook Time  <%= recipe.cookTime %></h5>
        
        <h5  class="cookTime">Prep Time: <%= recipe.prepTime %> </h5>
           
            <br>


            <h3 class="ingredients">Ingredients</h3>
            <ul>
                <% recipe.ingredients.map((i) => { %>
                    <li>
                        <%= i  %> 
                    </li>
                <% }) %> 
            </ul>
        </div>

        <div>
            <h3 class="directions">Directions:</h3>
            <% recipe.directions.map((i) => { %>
                <li>
                    <%= i  %> 
                </li>
            <% }) %> 
        </div>

        
        <br>
        
        
        <div>
            <h5>Comments</h5>
            <% recipe.comments.map((comment) => { %>
                <div class="commenter-name"><%= comment.name %></div>
                <div><%= comment.comment %></div>
            <% }) %>

        <% if(user) { %> 
            <%- include('./comments') %> 
        <% } else { %> 
            <div>Sign In to add a comment!</div>
        <% } %> 
        <% } %> 
    </div>
</body>
</html>